* {
  margin: 0;
  padding: 0;
}

.iguanaPage {
  width: 1280px;
}

.title {
  color: #ffffff;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.content {
  height: 73px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  justify-content: space-evenly;
  height: 348px;
  background-color: #000000;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 475px;
  height: 197px;
  color: #ffffff;
  text-align: left;
  font: normal normal 300 16px/19px Raleway;
  opacity: 1;
}

.img {
  width: 399px;
  height: 237px;
}

img {
  display: block;
}

.features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 348px;
  background: #1e1a13 0% 0% no-repeat padding-box;
  opacity: 0.98;
  color: #ffffff;
  gap: 50px;
}

.container-features-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features-title {
  width: 356px;
  height: 47px;
  font: normal normal medium 40px/47px Raleway;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 220px;
}

.attributes-text {
  font: normal normal 300 25px/30px Raleway;
}

.container-features-atributes {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.gallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 348px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.96;
}

.image {
  width: 316px;
  height: 202px;
  background: transparent url("img/photo-1487252665478-49b61b47f302.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 102px;
  background: #1e1a13 0% 0% no-repeat padding-box;
  opacity: 0.94;
  font: normal normal 300 20px/24px Raleway;
  color: #ffffff;
  opacity: 1;
}
