body {
  font-family: "Rubik", sans-serif;
}

.navbar-color {
  background-color: #7d99ec;
}

.inicio {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.front-page {
  background-image: url("../img/fondo8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.img-portada {
  width: 300px;
  border-radius: 50%;
}

.nombre {
  font-size: 30px;
}

.contenedor-nombre {
  background-color: #e8e1ee;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.saludo-titulo {
  font-size: 100px;
}

.contenedor-info {
  background-color: #e7edff;
  padding: 30px;
  border-radius: 30px;
}

.contenedor-experiencia {
  background-color: #e7edff;
  padding: 5rem 1rem;
}

.contenedor-educacion {
  padding: 5rem 3rem;
}

.titulo-seccion {
  font-size: 50px;
}

.texto-experiencia {
  text-align: left;
  color: dark;
}

/* css mis estudios*/

.horizontal-timeline .items {
  border-top: 3px solid #e9ecef;
}

.horizontal-timeline .items .items-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}

.horizontal-timeline .items .items-list .event-date {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 8px;
}

@media (min-width: 1140px) {
  .horizontal-timeline .items .items-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }

  .horizontal-timeline .items .items-list .event-date {
    top: -40px;
  }
}

/* mis trabajos*/
.image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.portafolio {
  background-color: #7d99ec;
  padding: 5rem 3rem;
}

.card {
  border: 0px;
  border-radius: 10px;
}
/* footer*/
.bg-footer {
  background-color: #7d99ec;
}
